 .org
    {
        margin-top: 55px;
        text-align: center;
       font-size: 150%;
       font-weight: bold;
    }
  
    .link:hover{
     color: blue;
     background-color: rgb(203, 242, 243);
    }

    .loc1
    {
        font-size: larger;
        font-weight: bold;
        margin-bottom: 20px;
    }

    a{
        text-decoration: none;

    }

    article
    {
        text-indent: 20px;
        margin-top: 48px;
        text-align: justify;
        display: flex;
    }
