@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    box-sizing: border-box;
}
    body {
      width: 1160px;
      margin: auto;
      font-family: 'Merriweather', serif;
      line-height: 1.6;
      background-color: blanchedalmond;
    }
    .container {
        display: grid;
        width : 100%;
        grid-template-rows: 100px minmax(100px,1fr) 100px;
        gap: 0px;
    }
    
    main {
        width: 82.75%;
        margin: auto;
        font-family: 'Merriweather', serif;
        word-spacing: 10px;
        line-height: 1.6;
    }
    
    header{
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-items: center;
        justify-content: space-between;
        border-style:  solid;
        border-width: thin;
        border-color: #ddd;
        word-spacing: 0px;
        border-top: none;
        /* background-color: rgb(248, 248, 232); */
    
    }
    
    header nav a {
        font-family: comic sans ms;
        text-decoration: none;
        font-size: 24px;
        font-weight: bolder;
        color : black;
        text-shadow: -1px 1px 0 #fff,
              1px 1px 0 #fff,
              1px -1px 0 #fff,
              -1px -1px 0 #fff;
    }
    header nav {
        display: grid;
        grid-template-columns: 0.7fr 0.8fr 1fr 1fr 0.85fr;
    }
    
    .listAndVolunteersImg {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        margin-top: 20px;
    }
    
    ol li {
        margin: 15px;
    }
    
    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
        border-style: solid;
        border-width: thin;
        border-color: #ddd;
        font-family: comic sans ms;
        line-height: 1.5;
        border-bottom: none;
    }
    
    
      /* Dark mode Begin */
      .dark-mode {
        background-color: black;
        color: white;
        
      }
    
      /* Light mode Begin */
      .Light-mode {
        background-color: white;
        color: black;
      }
    
      /* toggle buttons Begin*/
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
       /* toggle buttons End*/
    
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
        /* Rounded sliders */
    
        .secondNav {
    
            width:1fr; 
            border-bottom: grey 2px solid;
            align-items: center;
           display: flex;
           justify-content: center; 
           padding: 10px 0px;
           
           margin: 10px 0px;
           justify-content: space-around;
        }
        .sizingButton {
            padding: 5px 10px;
      
        }
        .plus {
          display: flex;
          width: 20%;
          justify-content: space-between;
        }
    
    /* Slide Show Begin*/    
    .slide-container{
      width: 960px;
    }
    
    .slide-container img{
      height: 547px;
    }
    
    .slide-container .prev,
    .slide-container .next {
      cursor: pointer;
      position: absolute;
      width: auto;
      height: 100%;
      padding: 23% 0;
      font-weight: bold;
      font-size: 500%;
      transition: all .7s fade-in;
      border-radius: 0 3px 3px 0;
      user-select: none;
      text-decoration: none;
      opacity: 0;
    }
    
    .slide-container .prev:hover,
    .slide-container .next:hover {
      background-color: rgba(247, 247, 247, 0.3);
      color: rgb(212, 212, 212);
      opacity: 1;
    
    }
    
    .slide-container .prev {
      left: 0px;
      padding: auto 10px;
    }
    
    .slide-container .next {
      right: 0px;
      padding: auto 10px;
    
    }
    
    .dots-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
    
    .dots-container .dot {
      cursor: pointer;
      margin: 5px;
      width: 20px;
      height: 20px;
      color: rgb(36, 36, 36);
      border-radius: 50%;
      background-color: #dfd6ce;
    }
    
    .dots-container .dot.active {
      border: 2px solid gray;
      background-color:rgb(156, 156, 156);
    }

/* style form*/

h1
{
  padding: 38px;
  margin: -13px -30px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
  }
  fieldset
  {
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-bottom:solid;
    border-color: black;
    border-style: solid;
    padding: 50px 30px
  }
  span
  {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
  }
  legend
  {
      color: black;
      font-size: larger;
      font-family: Arial, Helvetica, sans-serif;
  }
  .phone
  {
    display: grid;
    width: 100%;
    height: 43px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  .display
  {
    display: block;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  /* end styleForm*/





