@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 100px minmax(100px,1fr) 100px;
    gap: 0px;
}

body {
    width: 960px;
    margin: auto;
    font-family: 'Merriweather', serif;
    word-spacing: 10px;
    line-height: 1.6;
}

header{
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 2fr;
    align-items: center;
    border-style: solid;
    border-width: thin;
    border-color: #ddd;
    word-spacing: 0px;
/*     padding: 0px 10px; */
}

header nav a {
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.listAndVolunteersImg {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    margin-top: 20px;
}

ol li {
    margin: 15px;
}

footer {
    border-style: solid;
    border-width: thin;
    border-color: #ddd;
}
